/* ----------------- General -------------------- */
body {
  color: #444;
  font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
  background: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  font-family: 'Open Sans', 'trebuchet ms', arial, sans-serif;
}

#container {
  width: 100%;
}
/* --------------------------------------------- */

/*--------------- Header -----------------*/
#site-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 20;
}

#header {
  background-position: 0% 0%;
    background-repeat: repeat-x;
    height: 77px;
    width: 100%;
    background-image: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
    background-color: #222;
    background-attachment: scroll;
}

#top-bar {
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 40px;
  padding-right: 24px;
  padding-left: 240px;
  color: #fff;
}

#top-bar .nav > li > a {
  padding: 8px 10px;
  color: #fff;
}

#top-bar .nav > li > a:hover {
  background-color: #444;
}
#top-bar .nav > li > a:active,
#top-bar .nav > li > a:focus {
  background-color: #222;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
/* --------------------------------------------- */

/* -------------Carousel-------------------- */
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
    height: 300px;
}
/* --------------------------------------------- */

/* ----------------Dialog Box-------------------- */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display: none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}


.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalTable {
    display: table;
    margin: 10px 0;
}
.modalTable > span:first-child {
    display: table-cell;
    width: 94px;
    font-weight: 900;
}
#eventRSVP label {
    margin: 0 5px;
}
#eventButton {
    text-align: right;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	opacity: 100;
}

.close:hover { background: #00d9ff; }

/* --------------------------------------------- */

/* -------------Login-------------------- */

#loginWrapper {
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    z-index: 25;
    display: none;
}

.gradient {
	/* Center Positioning */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index : 24;
    background: rgba(0, 0, 0, 0.88);
    display: none;
}


.login-form {
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}


.login-form .header {
    padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
}

.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}



.login-form .content {
    padding: 0 30px 25px 30px;
}

.login-form .content .input {
    width: 188px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 25px;
}

.login-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.login-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
    width: 46px;
    height: 47px;
    display: block;
    position: absolute;
    left: 33px;
    padding-right: 2px;
    z-index: 3;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.user-icon {
    top: 147px;
    background: rgba(65,72,72,0.75) url(../img/user-icon.png) no-repeat center;
}

.pass-icon {
    top: 221px;
    background: rgba(65,72,72,0.75) url(../img/pass-icon.png) no-repeat center;
}

.error {
    color: red !important;
    text-align: center;
    width: 237px;
    float: left;
}


.input, .user-icon, .pass-icon, .button, .register {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}



.login-form .footer {
    padding: 25px 30px 40px 30px;
    overflow: auto;
    background: #d4dedf;
    border-top: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}


.login-form .footer .button {
    float: right;
    padding: 11px 25px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.reg {
    float: left;
}

.login-form .footer .button:focus {
    position: relative;
    bottom: -1px;
    background: #56c2e1;
    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}






/*------------------------------------------------------------*/






/*--------------- Dropdown menu -----------------*/
.dropdown-menu li {
  margin: .5em;
}
.dropdown-menu li a {
  padding: 5px;
  font-size: 12px;
  border-radius: 6px;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  color: #fff;
  background-color: #e5412d;
}
/*-----------------------------------------------*/

/*--------------- Side menu -------------------*/
#sidebar {
  position: absolute;
}

#main-nav {
  width: 240px;
  padding: 0;
  margin: 1.25em 0 2.5em;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
  position: relative;
  top: 39px;
}
#main-nav > li {
  list-style-type: none;
  border-bottom: 1px solid #4A4A4A;
}
#main-nav li a {
  width: 100%;
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 11px 18px 11px 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#main-nav li a:hover {
  background: #616161;
  background: rgba(0, 0, 0, 0.075);
}

#main-nav li.dropdown a {
  padding-bottom: 12px;
}

#main-nav .sub-nav {
  background: #555;
  width: 100%;
  list-style-type: none;
  padding: 1em 0;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
  top: 0;
}
#main-nav .sub-nav li {
  background: none;
  list-style-type: none;
  padding: 0;
  margin: 0 1em 0 0;
}
#main-nav .sub-nav li a {
  width: auto;
  font-size: 12px;
  display: block;
  padding: 7px 15px 7px 30px;
  color: #FFF;
}
#main-nav .sub-nav li a:hover {
  text-decoration: none;
  background-color: #4d4d4d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#main-nav .sub-nav li a.subactive {
  background-color: #443E3E;
}

#main-nav > li.active > a {
  background-repeat: repeat-x;
    color: #e5412d;
    text-shadow: none;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
}
/*-----------------------------------------------*/

/*--------------- Main Content -------------------*/
#content {
  background: #FFF;
  width: auto;
  min-height: 800px;
  padding-bottom: 25px;
  margin-left: 240px;
  margin-right: 20px;
}
#content-header {
  position: relative;
  top: -40px;
  width: 100%;
  height: 96px;
    background-repeat: repeat-x;
    border-bottom: 1px solid #CCC;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
}

#content-header h1 {
  position: relative;
  left: 20px;
  color: #444;
  font-size: 32px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: -2px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

#content-holder {
  margin: -21px 20px 0px;
}
/*-----------------------------------------------*/

/*--------------- Calender -----------------------*/
.fc-day, .fc-widget-content, #loginId {
  cursor: pointer;
}

/*-----------------------------------------------*/

/*-----------------Create Events-------------------*/
#eventCreation {
    margin: 5px;
}
#eventCreation p {
font-size: 16px;
font-weight: 600;
margin-bottom: 22px;
}

.eventTable {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.eventTable > label {
    display: table-cell;
    font-weight: 900;
    width: 15%;
}

.ssnCorrect {
    width: 15.7%!important;
}

.eventTable > input, select {
    width: 25%;
}

.eventFooter {
    margin: 30px 0;
}

/*-----------------------------------------------*/

/*--------------- Footer -----------------------*/
#footer {
  width: 100%;
  padding: 12px 21px;
  color: #999;
  text-align: right;
  background: #222;
}
/*-----------------------------------------------*/